@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@400;500;600;700&display=swap');

.forecast{
    width: min(90%, 1200px);
    margin: 20px auto 0 auto;
    font-size: 25px;
    font-size: clamp(0.938rem, 0.719rem + 0.5vw, 1.031rem);
    font-weight: 700;
    font-family: 'Noto Serif HK', serif;
    padding-bottom: 70px;
}

.daily-item{
    background-color: grey;
    display: grid;
    grid-template-columns: auto 50px 1fr 1fr auto;
    align-items: center;
    column-gap: 10px;
    padding: 10px 30px;
    margin: 10px 0 0 0;
    background-color: var(--background-color-grey-1-opacity-1);
    border-radius: 5px;
}



.grid-elem{
    display: flex;
    align-items: center;
}


.img-div{
    max-width: 50px;
    min-width: 20px;
    text-align: center;
}


.img-div img{
    width: 100%;
    margin: 0 auto;
}

.day-of-week{
    grid-column-start: 3;
}




@media (max-width:700px){
    .forecast{
        width: 95%;
    }

    .daily-item{
        padding: 10px;
        font-size: 13px;
        grid-template-columns: auto 1fr 1fr auto;
    }

    .day-of-week{
        grid-column-start: auto;
    }
    

}