@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@400;500;700&display=swap');

.forecast{
    width: max(80%, 300px);
    margin: 20px auto 0 auto;
    font-size: 25px;
    font-size: clamp(9px, 1.2vw, 0.95rem);
    font-weight: 700;
    font-family: 'Noto Serif HK', serif;
    padding-bottom: 70px;
}

.daily-item{
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    padding: 10px 30px;
    margin: 10px 0 0 0;
    background-color: var(--background-color-grey-1-opacity-1);
    border-radius: 5px;
}



.left-part-btn{
    display: grid;
    font-weight: 700;
    letter-spacing: 1.1px;
    text-align: left;
    grid-template-columns: 1fr 4fr;
}

.grid-elem{
    display: flex;
    align-items: center;
}

.right-part-btn{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.img-div{
    max-width: 50px;
    min-width: 20px;
    text-align: center;
}


img{
    width: 100%;
    margin: 0 auto;
}

.day-of-week{
    margin-left: 20px;
}



.min-max{
    margin-left: 25px;
}


@media (max-width:700px){
    .daily-item{
        padding: 10px;
    }
    

}