@import "../../constants.css";

.details-container{
    width: 100%;
    background-color: var(--background-color-grey-1-opacity-1);
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    text-align: center;
    font-size: 14px;
    padding: 10px 2.5% 10px 2.5%;
}

.details-container::before{
    content:'';
    background-color: black;
    position: absolute;
    width: 95%;
    height: 2px;
    bottom: 100%;
    left: 2.5%;
}


.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.specs-img{
    width: min(30%, 40px)
}


tbody{
    font-weight: 600;
}



@media (max-width: 550px){


    .titles-elem:nth-child(2){
        font-size: 0px;
    }

    .titles-elem:nth-child(3){
        font-size: 0px;
    }
    .titles-elem:nth-child(3)::after{
        content: 'T (°C)';
        font-size: 14px;
    }

    .titles-elem:nth-child(4){
        font-size: 0px;
    }
    .titles-elem:nth-child(4)::after{
        content: 'Wind';
        font-size: 14px;
    }

    .titles-elem:nth-child(5){
        font-size: 0px;
    }
    .titles-elem:nth-child(5)::after{
        content: 'Prec.(mm)';
        font-size: 14px;
    }

    .titles-elem:nth-child(6){
        font-size: 0px;
    }
    .titles-elem:nth-child(6)::after{
        content: 'Prec.(%)';
        font-size: 14px;
    }

    .titles-elem:nth-child(8){
        font-size: 0px;
    }
    .titles-elem:nth-child(8)::after{
        content: 'Hum.(%)';
        font-size: 14px;
    }

    .specs-img {
        width: 20px;
    }

    .details-container {
        padding: 10px 0;
    }
}
