@import '../../constants.css';

.search{
    width: min(90%, 1200px);
    padding-top: 20px;
    margin: 0 auto;
    background-color: transparent;
    opacity: 0.85;
    font-size: 14px;
}

@media (max-width: 700px){
    .search{
        width: 95%;
    }
}